pylint
black
requests
fastapi[all]
sqlalchemy
click
pymssql
psycopg2
celery
redis
eventlet
pytest
kafka-python
confluent-kafka
tqdm
beautifulsoup4
lxml
paramiko
holidays
pandas==1.4.2
numpy==1.22.0
openpyxl==3.0.10
html_table_parser